.GameBody{
    height:100%;
}
.background{
    background: rgba(165, 91, 42, 0.911);
    padding: 15px;
    margin: 1% 5% 5% 5%;
    height: 60%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(170, 170, 170);

}
.chalkboard{
    height: 90%;
    padding: 15px;
    color: white;
    font-size: 200%;
    font-family: Chalkduster, fantasy;
    background: grey;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(65, 65, 65);
    text-align: left;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}.inputwidget{
    background-color: rgba(211, 211, 211, 0.514);
    height: 50px;
    width: 50%;
    margin: auto;
    margin-top: -3%;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 5px 5px 5px rgb(170, 170, 170);

}.input{
    height: 70%;
    width: 90%;
    font-size: 120%;
    border-radius: 5px;
}.points{
    margin: 1%;
    font-size: 250%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
}.pointvalue{
    margin: 3px;
}.current_question{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: grey;
    font-size: 220%;
}